name: Build and Release Sultan Kernels

permissions:
  contents: write  # Allow writing to repository contents (for pushing tags)
  actions: write   # Allows triggering actions
  
on:
  workflow_dispatch:
        
jobs:
  build-kernel-zumapro:
    uses: ./.github/workflows/sultan.yml
    secrets: inherit
    with:
      codename: "zumapro"
      repo: "android_kernel_google_zumapro"
      android_version: "android14"
      kernel_version: "6.1"

  trigger-release:
    runs-on: ubuntu-latest
    needs:
        - build-kernel-zumapro
    env:
      REPO_OWNER: TheWildJames
      REPO_NAME: Sultan_KernelSU_SUSFS
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      RELEASE_NAME: "Sultan Kernels With KernelSU Next & SUSFS v2.0.0"
      RELEASE_NOTES: |
        This release contains KernelSU Next and SUSFS v2.0.0
        
        ⚠️ **COMPATIBILITY NOTICE** ⚠️
        Please ensure compatibility!
        
        Module: 
        -> https://github.com/sidex15/ksu_module_susfs
        
        Managers:
        -> https://github.com/WildKernels/Wild_KSU
        
        Features:
        [+] Wild KSU
        [+] SUSFS v2.0.0

    steps:
      # Checkout the code
      - name: Checkout code
        uses: actions/checkout@v3

        # Get the Latest Tag from GitHub
      - name: Create Tag with Commit Hash
        run: |
          # Get the current commit hash (первые 7 символов)
          COMMIT_HASH=$(git rev-parse --short HEAD)
      
          # Создаем тег на основе хеша коммита
          NEW_TAG="v2.0.0-r${COMMIT_HASH}"
      
          echo "New tag: $NEW_TAG"
          echo "NEW_TAG=${NEW_TAG}" >> $GITHUB_ENV
      
          # Configure git
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
      
          # Create and push the new tag
          git tag $NEW_TAG
          git push origin $NEW_TAG
            
      # Download Artifacts for A12 (Only if A12 Build is successful or input is true or empty)
      - name: Download Artifacts
        uses: actions/download-artifact@v4
        with:
          path: ./downloaded-artifacts

      # Create GitHub Release and upload files if make_release is true
      - name: Create GitHub Release
        uses: actions/create-release@v1
        with:
          tag_name: ${{ env.NEW_TAG }}  # Use the generated tag for the release
          release_name: ${{ env.RELEASE_NAME }}  # Pass the RELEASE_NAME to the action
          body: ${{ env.RELEASE_NOTES }}  # Pass the RELEASE_NOTES to the action
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload Release Assets Dynamically
        run: |
          # Loop through all files in the downloaded-artifacts directory
          for file in ./downloaded-artifacts/kernel-*/*; do
              # Skip directories
              if [ -d "$file" ]; then
                  continue
              fi

              # Upload the file to the GitHub release
              echo "Uploading $file..."
              gh release upload ${{ env.NEW_TAG }} "$file"
          done
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NEW_TAG: ${{ env.NEW_TAG }}

      # Display Files Uploaded
      - name: Display Files Uploaded
        run: |
          echo "GitHub release created with the following files:"
          ls ./downloaded-artifacts/**/*
